<?xml version='1.0' encoding='utf-8'?>
<widget id="hk.sunnycyk.RapiroBLE" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RapiroBLE</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="http://192.168.1.5:4042" />
    <access origin="*" />
</widget>
